.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
align-items: center;
  &__tabs {
    display: flex;
    justify-content: space-around;

    button {
      padding: 20px 36px;
      cursor: pointer;
      &.active {
        font-weight: bold;
        border-bottom: 2px solid black;
      }
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
      padding: 8px;
    }

    button {
      padding: 10px;
      background: black;
      color: white;
      cursor: pointer;
    }
  }

  &__divider {
    text-align: center;
    color: #888;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px;
      border: 1px solid #ccc;
      background: white;
      cursor: pointer;
    }
  }
}
